.friendsitem {
  display: flex;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

.status {
  display: block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.name {
  font-size: 20px;
  margin-left: 20px;
}
